<%= form_for(@note, url: add_note_path) do |f| %>
    <% if @note.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

            <ul>
                <% @issue.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
        <div class="field">
            <%= f.label :message %><br>
            <%= f.text_area :message , size: '50x10'%>
        </div>

        <div class="field">
            <%= f.hidden_field :user_id, :value => @current_user.id %>
        </div>

        <div class="field">
            <%= f.hidden_field :issue_id, :value => @issue_id %>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
<% end %>
