<p id="notice"><%= notice %></p>

<h1> <font color="darkred"> Title: </font> <%= @issue.title %></h1>
<hr/>
<p>
  <strong><font color="darkred">Description:</font></strong><br/>
  <%= add_new_lines(@issue.description) %>
</p>
<hr/>
<p>
    <strong><font color="darkred">Creator:</font></strong>
  <%= @issue.creator.name %>
</p>
<hr/>
<div id="ShowActionsMenu">
    <ul>
        <li> <%= link_to 'Edit |', edit_issue_path(@issue) %> </li>
        <li> <%= link_to 'Back ', issues_path %> </li>
    </ul>
</div>

