<p id="notice"><%= notice %></p>

<h1> <font color="darkred"> Title: </font> <%= @issue.title %></h1>
<hr/>
<p>
  <strong><font color="darkred">Description:</font></strong><br/>
  <%= add_new_lines(@issue.description) %>
</p>
<hr/>
<p>
    <strong><font color="darkred">Creator:</font></strong>
  <%= @issue.creator.name %>
</p>
<div id="NotesList">
    <p>
        <strong>Notes:</strong>
    </p>
    <%= link_to "Add New Note", :controller => :notes, :action => "new", :issue_id => @issue %>
    <br/>
    <%@issue.notes.each do |note| %>
        <div class="NoteShow">
            <%= add_new_lines(note.message) %>
            <% if user = User.find_by_id(note.user_id) %>
                <hr/>
                <p>
                    <%= add_new_lines(user.name) %>
                    <%= note.created_at %>
                </p>
            <% end %>
        </div>
    <%end %>

</div>
<hr/>
<div id="ShowActionsMenu">
    <ul>
        <li> <%= link_to 'Edit |', edit_issue_path(@issue) %> </li>
        <li> <%= link_to 'Back ', issues_path %> </li>
    </ul>
</div>

